.navbar:hover{
border:3px #6610f2 solid !important;
}
.color{
    color: #6610f2;
}

.button{
    background: #6610f2;
}


.container-fluid-1{
 
    height: 45px;
 width: 1250px;


}

.container-fluid-1:hover {
     border: 1px blue solid;
     border-style:dotted ;
}
.btn{
    height: 45px;
}


.container-fluid-2 {
    background: #F5FCFF;
}

.container-fluid-2:hover{
    border: 2px #6610f2 solid;
   border-style:dotted ;
}


.card-section
{
    position: relative;
    left: 130px;
margin-top: 80px;
    width: 200px;
    margin-bottom: 40px;
}

.card-sec
{
    background: #F5FCFF;
}

.b-setup
{
    border: 2px blueviolet solid;
}

.card-sec3 :hover{
       border: 2px #6610f2 solid;
   border-style:dotted ;
}

.fa-solid {
    color: #006B6A;
}

.iconS:hover{
    border:1px #6610f2 solid;
    border-style: dashed;
    
}

.c-sec{
    border:2px #006B6A solid;
   
    
}

.c-sec:hover{
    border:3px solid #6610f2;
}


.head-sec:hover{
    border:1px #6610f2 solid;
    border-style: dashed;
    
}

.b-prep{
    border:1px solid #6610f2;
}

.choose{
    margin-left: 340px;
}

.form{
    margin-left: 340px;
}

.footer{
    background-color: #F5FCFF;
}